body{
	padding: 0 auto;
	margin: 0 auto;

}

.word_split span:hover {
    font-weight:bold;
    color: red;
}

.wrapper{
	height: 100%;
	width: 100%;
	min-width: 1024;

}

.filter{
	padding: 20px;
	max-width: 50%;
	width: 410px;
	height: 309px;
	background-color: white;
	border: 1px solid #CCC;
	position: absolute;
	z-index: 2;
	left: 50px;
	bottom: 35px;
	-moz-box-shadow: 3px 3px 12px 1px #888;
	-webkit-box-shadow: 3px 3px 12px 1px #888;
	box-shadow: 3px 3px 12px 1px #888
}
.filter-header{
	/*height: 20px;*/
	margin-bottom: 5px;
	width: 100%;
}
.filter-body{
	width: 100%;
}
.dialog-info .time-info{
	overflow: auto;
	height: 200px;
	margin-top: 15px;
}

.annotation{

	width: 96%;
	padding: 2%;
	background:rgba(255,0,0,0.3);
}
.annotation input{
	padding: 2px;
	
}
.annotation button{
	
}
.annotation h4{
	display: inline;
	
}
.marker{
	/*width: 330px;*/
	min-width: 300px;
}
.marker .time{
	width: 30%;
	float: left;

}
.marker .transcript{
	width: 70%;
	float: right;
}
.marker .message{
	height: 70px;
	width: 100%;
	/*width: 500px;*/
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid gray;
}
.transcript span:hover {
    font-weight:bold;
    background-color: yellow;
    color: black;
}
.transcript .location{
	color: orange;
	font-weight: bold;
}
.transcript .food{
	color: green;
	font-weight: bold;
}
.selected{
	background-color: rgba(255,255,0,0.5);
	font-weight: bold;
}

.phase_selected{
	background-color: rgba(0,255,0,0.5);
	font-weight: bold;
}